#signUp {
	color: white;
}
#login {
	color: white;
}

#signUp:hover {
	color: #62EDD6;
}

#login:hover {
	color: #62EDD6;
}

#signUp:focus {
	background-color: #E3B505;
}

#login:focus {
	background-color: #E3B505;
}

#signUp:active {
	background-color: #E3B505;
}

#login:active {
	background-color: #E3B505;
}