#user-nav-dropdown {
	background-color: #FE65B7;
	font-family: 'Varela Round', sans-serif;
}

#link1 {
	color: white;
}

#profileLink {
	color: white;
}

#name1 {
	color: white;
}

#logoutLink {
	color: white;
}

#link1:hover {
	color: #62EDD6;
}

#profileLink:hover {
	color: #62EDD6;
}

#name1:hover {
	color: #62EDD6;
}

#logoutLink:hover {
	color: #62EDD6;
}