@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Index {
  padding: 20px;
  background: $cb-blue;
  text-align: center;
  border-radius: 3px;
  color: #fff;


  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
    color: lighten($cb-blue, 25%);
  }

  > div {
    display: inline-block;
    margin: 10px 0 0;

    .btn:first-child {
      margin-right: 10px;
    }

    .btn {
      border: none;
    }
  }

  footer {
    margin: 20px -20px -20px;
    border-top: 1px solid darken($cb-blue, 10%);
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 22px;
      color: lighten($cb-blue, 35%);
      margin: 0;
    }

    p a {
      color: lighten($cb-blue, 35%);
      text-decoration: underline;
    }
  }
}

@include breakpoint(tablet) {
  .Index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}

/*
Loading element css*/

  .mult3 {
      height: 40px;
      width: 40px;
      position: relative;
   } 
     
   .mult3circle1, .mult3circle2 {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
   }
      
   .mult3circle1 {
      background-color: #66CC99;
      -webkit-animation: mult3circle1anim 4s infinite steps(1);
      animation: mult3circle1anim 4s infinite steps(1);
   }
      
   @-webkit-keyframes mult3circle1anim {
      0%, 75%, 100% {
         -webkit-transform: scale(1);
         transform: scale(1);
      }
      50% {
         -webkit-transform: scale(1.4);
         transform: scale(1.4);
      }
   }  
    
   @keyframes mult3circle1anim {
      0%, 75%, 100% {
         -webkit-transform: scale(1);
         transform: scale(1);
      }
      50% {
         -webkit-transform: scale(1.4);
         transform: scale(1.4);
      }
   } 
     
   .mult3circle2 {
      background-color: #438866;
      -webkit-animation: mult3circle2anim 4s infinite steps(1);
      animation: mult3circle2anim 4s infinite steps(1);
   }
      
   @-webkit-keyframes mult3circle2anim {
      0%, 100% {
         -webkit-transform: scale(.65);
         transform: scale(.65);
      }
      25% {
         -webkit-transform: scale(1);
         transform: scale(1);
      }
   }  
    
   @keyframes mult3circle2anim {
      0%, 100% {
         -webkit-transform: scale(.65);
         transform: scale(.65);
      }
      25% {
         -webkit-transform: scale(1);
         transform: scale(1);
      }
   }
